.header {
    text-align: center;
  }
 
.navbar-default {
    background: none;
    margin-bottom: 0px;
  }

.jumbotron {
  background: url("/img/kite.jpg") no-repeat center center fixed; 
  background-size: cover;
    color: #fff;
    min-height: 500px;
  }

  .img{
    background: url("/img/_main.jpg") no-repeat center center fixed; 
    background-size: contain;
      color: #fff;
      min-height: 700px;
    
    }
  

  