.header {
    text-align: center;
  }
 
.navbar-default {
    background: none;
    margin-bottom: 0px;
  }

.jumbotron {
  background: url("/img/_main.jpg")  no-repeat fixed center ;
  }
  

  



  